@import './../../styles/variables.scss';

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 100px;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}    