@import './../../styles/variables.scss';

.contentCapsule{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  scrollbar-color: #1976d2 white;
  scrollbar-width: thin; 
}
