.animBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #121212;
  animation: backgroundOut forwards 5s;
  -webkit-animation: backgroundOut forwards 5s;
  -moz-animation: backgroundOut forwards 5s;
  -o-animation: backgroundOut forwards 5s;
  -ms-animation: backgroundOut forwards 5s;
}
@keyframes backgroundOut {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.fadeInLogo {
  position: absolute;
  left: 34%;
  top: 24%;
  width: 30%;

  animation: fadeIn forwards 5s;
  -webkit-animation: fadeIn forwards 5s;
  -moz-animation: fadeIn forwards 5s;
  -o-animation: fadeIn forwards 5s;
  -ms-animation: fadeIn forwards 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 34%;
    top: 24%;
    width: 30%;
  }
  98% {
    opacity: 1;
  }
  99% {
    width: 8em;
    opacity: 0;
  }
  100% {
    left: 10px;
    top: 10px;
    width: 0;
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 34%;
    top: 24%;
    width: 30%;
  }
  98% {
    opacity: 1;
  }
  99% {
    width: 8em;
    opacity: 0;
  }
  100% {
    left: 10px;
    top: 10px;
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 34%;
    top: 24%;
    width: 30%;
  }
  98% {
    opacity: 1;
  }
  99% {
    width: 8em;
    opacity: 0;
  }
  100% {
    left: 10px;
    top: 10px;
    width: 0;
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 34%;
    top: 24%;
    width: 30%;
  }
  98% {
    opacity: 1;
  }
  99% {
    width: 8em;
    opacity: 0;
  }
  100% {
    left: 10px;
    top: 10px;
    width: 0;
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: 34%;
    top: 24%;
    width: 30%;
  }
  98% {
    opacity: 1;
  }
  99% {
    width: 8em;
    opacity: 0;
  }
  100% {
    left: 10px;
    top: 10px;
    width: 0;
    opacity: 0;
  }
}
