.link {
    color: white;
    background: white;
    /* font-weight: bold; */
    /* display: block;
    width: 100%;
    height: 100%; */
}

.logo {
    width: 8em;
    float: left;
    margin: 10px;
}